<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816730900420-v8pa845a94lieloonv1ji4pls04mid8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816730900420-v8pa845a94lieloonv1ji4pls04mid8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCW1VtLdktAXvtrbcXfqXZjYR-ZTsuYaWo</string>
	<key>GCM_SENDER_ID</key>
	<string>816730900420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtimeChat</string>
	<key>PROJECT_ID</key>
	<string>realtime-chat-63922</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-chat-63922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816730900420:ios:dc5f8e4d4a6e3ef1ee8691</string>
</dict>
</plist>